@import "weapon";
@import "armor";
@import "items";

.inventory {
  display: flex;
  justify-content: center;
  margin: 100px;
  .player-model {
    flex: auto;
    text-align: center;
  }
}

.common {
  background-color: #d6d6d6;
}

.uncommon {
  background-color: #1bc459;
}

.rare {
  background-color: #1b69c4;
}

.legendary {
  background-color: #9d1ac4;
}

.exotic {
  background-color: #c4b81b;
}
