.Weapon {
  background-color: rgba(#bababa,.75);
}

.common {
  background-color: #d6d6d6;
}

.uncommon {
  background-color: #1bc459;
}

.rare {
  background-color: #1b69c4;
}

.legendary {
  background-color: #9d1ac4;
}

.exotic {
  background-color: #c4b81b;
}
